@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap');


html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}


#player {
  height: 100vh;
  width: 100vw;
  background-image: url('../src/assets/fighter.jpg');
  background-size: cover;
  /* Ensures that the background covers the entire container */
  background-position: center;
  /* Centers the image in the container */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}

#player h1 {
  margin-top: 0;
}

#player2 {
  height: 100vh;
  width: 100vw;
}